body {
}
.newStyle1 {
    font-size: medium;
    background-color: #00FFFF;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-style: double;
    border-width: 5px;
    position: relative;
    visibility: inherit;
    list-style-type: circle;
    table-layout: fixed;
}
button {
}
.newStyle1 {
}
